.jumbotron {
    background-image: url("thunder-sky.jpg"); 
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font
}

h1 {
    font-family: 'VT323', 'monospace';
    text-align: left, right;
    color: rgb(122, 247, 49);
    text-shadow: 0 0 5px #C8C8C8;
}

h3 {
    font: 1.3rem Inconsolata, monospace;
    text-align: left, right;
    color: white;
    text-shadow: 0 0 5px #C8C8C8;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

/*may want to change these individually later*/
#index-body {
    background-color: black;
}

#game-body {
    background-color: black;
}

#contact-body {
    background-color: black;
}

#calendar-body {
    background-color: black;
}



.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
textarea.emscripten { font-family: monospace; width: 80%; }
div.emscripten { text-align: center; }
div.emscripten_border { border: 1px solid black; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { border: 0px none; background-color: black; }

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}